*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Google Fonts*/

.satisfy-regular {
    font-family: "Satisfy", cursive;
    font-weight: 500;
    font-style: normal;
}
  
.jost-light {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}


/*Nav Bar*/

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 12px;
    padding-bottom: 5px;
    background-color: rgb(16,16,18);
}

.hero h2{
    color: white;
    font-size: 37px;
    margin-left: 40px;
}

.hero h2 a{
    color: white;
    text-decoration: none
}


.hero ul{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    margin-right: 30px;
}



.hero ul li{
    margin-left: 38px;
}

.hero ul li a{
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    color: white;
}

/* Github Button */
.github {
    margin-left: 37px;
    text-decoration: none;
    color: white;
}

.bgcolor {
    margin-left: 33px;
    font-weight: 500;
    width: 39px;
    height: 39px;
    cursor: pointer;
    color: #fff;
    font-size: 13px;
    border-radius: 1rem;
    border: none;
    position: relative;
    background: transparent;
    -webkit-transition: 0.1s;
    transition: 0.1s;
  }
  
  .bgcolor::after {
    content: '';
    width: 100%;
    height: 100%;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgb(81, 11, 77) 17.8%, rgb(7, 71, 73) 100.2% );
    -webkit-filter: blur(15px);
            filter: blur(15px);
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
  }

/* Banner */

.banner{
    height: 65vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(/assets/home-banner.jpg);
    background-position: center;
    background-size: cover;

}

.big-title{
    color: white;
}

.small-heading{
    color: white;
}


/* Search Bar */
.input {
    border: 2px solid transparent;
    width: 45em;
    height: 3em;
    padding-left: 0.8em;
    color: black;
    outline: none;
    overflow: hidden;
    background-color: #F3F3F3;
    border-radius: 2px;
    transition: all 0.5s;
  }
  
  .input:hover,
  .input:focus {
    border: 2px solid #ffffff;
    background-color: white;
  }
  

  .wip {
    text-align: center;
    margin-top: 20px;
  }
  
  .wip img {
    margin-top: 8%;
    width: 25%;
    height: auto;
    border-radius: 8px;
  }
  